<%- include header %>
<div class="am-g">
	<div class="am-u-lg-8 am-u-sm-centered">
<% posts.forEach(function (post, index) { %>
	<div class="am-panel am-panel-default">
		<div class="am-panel-hd">
		<p>
		<img class="image" src="<%-post.img %>" width="50" height="50"/>&emsp;
		<%=post.title %>
		| 作者：
		<%=post.name %>
		<br/>&emsp;&emsp;&emsp;&emsp;
		<%=post.time.minute %>
		</p>
		</div>
		<div class="am-panel-bd">
		<p>
		<%- post.post %>
		</p>
		</div>
	</div>
	<% }) %>
	</div>
</div>
<div>
  <% if (!isFirstPage) { %>
    <span class="prepage"><a title="上一页" href="?p=<%= page-1 %>">上一页</a></span>
  <% } %>

  <% if (!isLastPage) { %>
    <span class="nextpage"><a title="下一页" href="?p=<%= page+1 %>">下一页</a></span>
  <% } %>
</div>

<%- include footer %>